* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0px;
}

.search-bar {
  width: 100%;
  max-width: 300px;
  height: 39px;
  border-radius: 6px;
  background-color: #ffffff;
  border: solid #dee2e6;
  display: flex;
  align-items: center;
}

.search-bar #search-test {
  border: none;
}

.search-bar #search-test::placeholder {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0px;
  padding-left: 5px;
}

.pages-link a {
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0px;
  text-decoration: none;
  padding-left: 30px;
  transition: all 0.3s ease;
}

.pages-link a:hover {
  color: plum;
}

.title {
  width: 100%;
  height: 140px;
  text-align: center;
  background-color: #4a3db5;
  padding: 16px;
}

.title h2 {
  font-size: 31px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0px;
  color: #ffffff;
  margin-bottom: 16px;
}

#btn-start {
  width: 57px;
  height: 38px;
  border-radius: 6px;
  border: 1px;
  background-color: #ffc107;
  cursor: pointer;
  transition: all 0.3s ease;
}

#btn-start:hover {
  background-color: #ffc107a9;
  transform: translateY(-5px);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.container .sort-by-turn {
  justify-content: start;
}

.sub-title {
  font-size: 27px;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0px;
  margin-bottom: 20px;
}

.sort-by-turn {
  margin-bottom: 20px;
}
